
/* Header */

header .container{
    height: 100px;
}

header ul li{
    text-decoration: none;
    list-style-type: none;
    margin-right: 10px;
}

header a{
    color: white;
}

/* Img */
img{
    max-width: 100%;
}

#jumbotron{
    background-color: aquamarine;
}

